.sidebar-nav > ul {
  font-weight: bold;
}

.sidebar-nav li > a[href^="#/"]:not([href*="?id="]),
.sidebar-nav li > a[href^="#/"]:not([href*="?id="]) ~ ul a {
  padding: 0 10px;
}

.app-sub-sidebar li:before {
  margin-right: -8px;
}

.sidebar li {
  margin: 2px 0;
}

.app-name,
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  font-family: "Libre Baskerville", serif;
  color: #2a7d58;
}

.active a,
.markdown-section a {
  color: #2a7d58 !important;
}

.sidebar-nav hr {
  border-bottom: hidden;
  width: 90%;
  background-color: #2a9263;
}

p,
h4 {
  font-size: 16px !important;
  text-align: justify;
}

.grid30by70 {
  display: grid;
  grid-template-columns: repeat(2, 30% 70%);
  grid-column-gap: 15px;
  align-items: center;
}

section.cover .cover-main {
  margin: 0 !important;
}

.presentationContainer {
  width: 50%;
  background-color: #2a7d58;
  min-height: 100vh;
  height: max-content;
}

.presentationHeader {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  padding-top: 40px;
}

.presentationContent {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  color: #fff;
}

.presentationContainer a {
  color: #fff !important;
  text-decoration: underline !important;
}

section.cover {
  min-height: 100vh;
  height: max-content;
  background: url("../images/cover-bg.jpeg") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.presentationContent p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 30px;
}

@media (max-width: 720px) {
  .presentationContainer {
    height: 100%;
    width: 100%;
  }
}
