.sidebar-nav > ul {
  font-weight: bold;
}

.sidebar-nav li > a[href^="#/"]:not([href*="?id="]),
.sidebar-nav li > a[href^="#/"]:not([href*="?id="]) ~ ul a {
  padding: 0 10px;
}

.app-sub-sidebar li:before {
  margin-right: -8px;
}

.sidebar li {
  margin: 2px 0;
}

.app-name,
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  font-family: "Libre Baskerville", serif;
  color: #2a7d58;
}

.active a,
.markdown-section a {
  color: #2a7d58 !important;
}

.sidebar-nav hr {
  border-bottom: hidden;
  width: 90%;
  background-color: #2a9263;
}
